<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>🍕Buonos Pizza🍕</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="https://kit.fontawesome.com/c249425591.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" href="/css/footer.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">  
      <link rel="stylesheet" href="/css/nav-bar-2.css">  
    </head>

    <body>
      <nav id="navbar">
        <input type="checkbox" id="sidebar-active">
        <a class="home-link-1" href="/"><img src="/images/buonos-logo-5.jpg" alt=""></a>
        <label for="sidebar-active" class="open-sidebar-button">
          <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
        </label>
        <label id="overlay" for="sidebar-active"></label>

        <div class="links-container" id="top">
          <label for="sidebar-active" class="close-sidebar-button">
            <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
          </label>
          <a class="home-link" href="/"><img src="/images/buonos-logo-5.jpg" alt=""></a> 
          <a href="/">Home</a> 
          <a href="/menu-1">Menu</a> 
          <a href="/specials">Catering</a>
          <a href="/order-online">Delivery</a>
          <a href="/location">Location</a>
          <a href="/hours">Hours</a>
          <a href="/contact-us">Contact</a>
          <a href="/about">About</a>
          <a href="/trivia-home-page">Trivia</a>
          <a class="login-link" href="/employee/login">Login</a>
        </div>   
      </nav>

      <div class="page">
        <main>
          {{{ body }}}
        </main>
      </div>
      
      <footer>
        <div class="social-footer">
          {{#each information as |i|}}
            <h5>{{i.description}}</h5>
          {{/each}}

          {{#each information as |i|}}
            <h4>{{i.company}}</h4>
          {{/each}}

          {{#each information as |i|}}
            <a href={{i.map}}>
              <h4 style="text-decoration:none; color:black;">{{i.address}}</h4>
            </a>
          {{/each}}

          <a href="tel:+14802182338">
            {{#each information as |i|}}
              <h4 style="text-decoration:none; color:black;">{{i.phoneNumber}}</h4>
            {{/each}}
          </a>

          <a href="mailto: buonosgilbert@yahoo.com">
            {{#each information as |i|}}
              <h4 style="text-decoration:none; color:black;">{{i.email}}</h4> 
            {{/each}}
          </a>

          <div class="row">
            <div class="column">
              <a href="https://www.facebook.com/profile.php?id=61563441787315" class="button-social">
                <i class="fa-brands fa-square-facebook" style="text-decoration:none; color:black; font-size:30px;"></i>
              </a>
            </div>

            <div class="column">
              <a href="https://www.instagram.com/buonospizzahigley/?hl=en"  class="button-social">
                <i class="fa-brands fa-instagram" style="text-decoration:none; color:black; font-size:30px;"></i>
              </a>
            </div>

            <div class="column">
              {{#each information as |i|}}
              <a href={{i.map}}>
                <i class="fa-brands fa-google" style="text-decoration:none; color:black; font-size:30px;"></i>
              </a>
            {{/each}}
            </div>
          </div>

          <p>
            COPYRIGHT &copy; 2024 BUONO'S HIGLEY - ALL RIGHTS RESERVED. SORRY NO CHECKS. GROUPS OF 8 OR MORE 15% GRATUITY Will BE INCLUDED. ALL PRICES SUBJECT TO CHANGE WITHOUT NOTICE.
          </p> 

          <h5>🤓Powered by: SmileyFaceStudios()🤓</h5>
        </div>
      </footer>

      <script src="/js/logout.js"></script>
      <script src="/js/login.js"></script>

      <script>
        function showSidebar() {
          const sidebar = document.querySelector('.side-bar');
          sidebar.style.display = 'flex';
        }
        function hideSidebar() {
          const sidebar = document.querySelector('.side-bar');
          sidebar.style.display = 'none';
        }
      </script>
    </body>
  </html>