<head>
  <link rel="stylesheet" href="/css/style-page.css">
  <link rel="stylesheet" href="/css/video-player.css">
  <link rel="stylesheet" href="/css/gallery-flip-animation.css">
  <link rel="stylesheet" href="/css/social.css">
</head>

<div class="page-container">
  <br>
  <div class="heading buonos-font">
    <center>
      <h1>About Us</h1>
    </center>
  </div>

  <div class="video-player">
    <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/-yCUuy-aX80?si=Vt-eH92ZDxaQ4BbU&amp;start=603" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div> 

  <div class="sub-section buonos-font">
    <h2>Meet The Team</h2>
    <h5>
      Jimmy and family from the ORIGINAL BUONO'S are BACK.  At  BUONO'S we believe we stay true to NYC style pizza, by using fresh local ingredients. BUONO'S has been bringing New York-style pizza to Arizona since 1989!  Just like a local NYC neighborhood pizzeria.  We are an independently owned and operated pizzeria restaurant. Joining Jimmy is his fiance Shelly who is an Army Veteran and a ICU Nurse
    </h5>
  </div>

  <div class="gallery-flip-container">
    <div class="center">
      <input type="radio" checked name="active" id="tab-1">
      <input type="radio" name="active" id="tab-2">
      <input type="radio" name="active" id="tab-3">
      <input type="radio" name="active" id="tab-4">
      <input type="radio" name="slide" id="one">
      
      <div class="img-card">
        <img src="/images/team-1.jpg" alt="">
        <img src="/images/team-2.jpg" alt="">
        <img src="/images/team-3.jpg" alt="">
        <img src="/images/team-4.jpg" alt="">
      </div>
      
      <div class="sliders">
      <label for="tab-1" class="one">
        <div class="button-box">
          <img src="/images/team-1.jpg" alt="">
        </div>
      </label>

      <label for="tab-2" class="two">
        <img src="/images/team-2.jpg" alt="">
      </label>

      <label for="tab-3" class="three">
        <img src="/images/team-3.jpg" alt="">
      </label>

      <label for="tab-4" class="four">
        <img src="/images/team-4.jpg" alt="">
      </label>

    </div>
    </div>
  </div>

  <div class="sub-section buonos-font">
    <h2>Dine in or take out</h2>
    <h5>
      We have worked to package our meals in a way that lets you bring the quality of our meals into your home. We always love to see you in person, but even when we can't we ensure that your dining experience is top notch!
    </h5>
  </div>

  <div class="sub-section buonos font">
    <h2>Made in store</h2>
    <h5>
      We refuse to compromise.  We use the freshest and finest ingredients.  Our Pizza Dough is made fresh daily in house and we make our sauce in house as well.
    </h5>
  </div>

  <div class="social-footer">
    {{#each information as |i|}}
      <h5>{{i.description}}</h5>
    {{/each}}

    {{#each information as |i|}}
      <h4>{{i.company}}</h4>
    {{/each}}

    <a href="https://www.google.com/maps/dir//1464+E+Williams+Field+Rd,+Gilbert,+AZ+85295/@33.3074096,-111.8409328,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x872bac74ffc357e1:0xed805996e92f4bc4!2m2!1d-111.7585316!2d33.3074368?entry=ttu">
      {{#each information as |i|}}
        <h4 style="text-decoration:none; color:black;">{{i.address}}</h4>
      {{/each}}
    </a>

    <a href="tel:+14808991200">
      {{#each information as |i|}}
        <h4 style="text-decoration:none; color:black;">{{i.phoneNumber}}</h4>
      {{/each}}
    </a>

    <a href="mailto: buonosgilbert@yahoo.com">
      {{#each information as |i|}}
        <h4 style="text-decoration:none; color:black;">{{i.email}}</h4> 
      {{/each}}
    </a>

    <div class="row">
      <div class="column">
        <a href="https://www.facebook.com/people/Buonos-PIZZA-Gilbert/100067421335508/?mibextid=ZbWKwL" class="button-social">
          <i class="fa-brands fa-square-facebook" style="text-decoration:none; color:black; font-size:30px;"></i>
        </a>
      </div>

      <div class="column">
        <a href="https://www.instagram.com/buonospizzagilbert/?hl=en"  class="button-social">
          <i class="fa-brands fa-instagram" style="text-decoration:none; color:black; font-size:30px;"></i>
        </a>
      </div>

      <div class="column">
        <a href="https://www.yelp.com/biz/buono-s-pizza-gilbert"  class="button-social">
          <i class="fa-brands fa-yelp" style="text-decoration:none; color:black; font-size:30px;"></i>
        </a>
      </div>

      <div class="column">
        <a href="https://www.google.com/maps/dir//1464+E+Williams+Field+Rd,+Gilbert,+AZ+85295/@33.3074096,-111.8409328,12z/data=!4m6!4m5!1m0!1m2!1m1!1s0x872bac74ffc357e1:0xed805996e92f4bc4!3e0"  class="button-social">
          <i class="fa-brands fa-google" style="text-decoration:none; color:black; font-size:30px;"></i>
        </a>
      </div>
    </div>

    <p>
      COPYRIGHT &copy; 2024 BUONO'S GILBERT - ALL RIGHTS RESERVED. SORRY NO CHECKS. GROUPS OF 8 OR MORE 15% GRATUITY Will BE INCLUDED. ALL PRICES SUBJECT TO CHANGE WITHOUT NOTICE.
    </p> 

    <h5>🤓Powered by: SmileyFaceStudios()🤓</h5>
  </div>
</div>