<head>
  {{!-- <style>
    h1 {
      color: var(--buonos-red);
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
      font-family: var(--buonos-font);
    }
  </style> --}}

  <link rel="stylesheet" href="/css/scrollableTabs2.css">
  <link rel="stylesheet" href="/css/menu.css">
  <link rel="stylesheet" href="/css/updateInformation.css">
  <link rel="stylesheet" href="/css/social.css">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>

<!--#region scollable tabs 2 -->
  <section class="main-container">
    <div class="tab-nav-bar">
      <div class="tab-navigation">
        <i class="uil uil-angle-left left-btn"></i> 
        <i class="uil uil-angle-right right-btn"></i>
        <ul class="tab-menu">
          <li class="tab-btn"><a href="#" class="active">All</a></li>
        
          <li class="tab-btn"><a href="#app">Appetizer</a></li>

          <li class="tab-btn"><a href="#salad">Salads</a></li>

          <li class="tab-btn"><a href="#pasta">Pastas</a></li>

          <li class="tab-btn"><a href="#entree">Entrees</a></li>

          <li class="tab-btn"><a href="#side">Sides</a></li>

          <li class="tab-btn"><a href="#dessert">Desserts</a></li>

        </ul>
      </div>
    </div>
  </section>
<!--#endregion -->




<div class="container-menu">
  <div class="grid-container-2">

    <center class="appetizer">
      <a class="anchor" id="app"></a>
      <h1 class=""><strong>Appertizers</strong></h1>
      <img src="/images/catering-category-appetizer.jpg" alt="food-image" class="category-image">
      {{!-- <h2>CALL TO ORDER 480 899-1200</h1> --}}
      <h2>Choice of Marinara or Ranch Dressing</h2>
      <h3>PORTIONS 1/2 TRAYS FEEDS 10-12 People</h3>
    </center>
    <div class="grid-container">
        
      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Chicken Wings</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$Market</b></p>
            <img src="/images/buonos-logo-3.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Boneless Chicken Wings</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$Market</b></p>
            <img src="/images/buonos-logo-3.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>


      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Fried Zucchini</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$40</b></p>
            <img src="/images/catering-appetizer-zuchini-sticks.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Fried Mushrooms</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$40</b></p>
            <img src="/images/buonos-logo-3.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Fried Mozzarella Sticks</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$40</b></p>
            <img src="/images/catering-appetizer-mozzarella-sticks.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>   

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Fried Ravioli</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$40</b></p>
            <img src="/images/buonos-logo-3.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>    
    </div>

    <center class="salad">
      <a class="anchor" id="salad"></a>
      <h1 class=""><strong>Salads</strong></h1>
      <img src="/images/catering-category-salad.jpg" alt="food-image" class="category-image">
      {{!-- <h2>CALL TO ORDER 480 899-1200</h1> --}}
      <h2>Choice of Blue Cheese, Italian, or Ranch Dressing</h2>
      <h3>PORTIONS 1/2 TRAYS FEEDS 10-12 People</h3>
    </center>
    <div class="grid-container">
        
      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">House</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$30</b></p>
            <img src="/images/catering-salad-house.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Antipasto</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$45</b></p>
            <img src="/images/buonos-logo-3.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Caprese</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$45</b></p>
            <img src="/images/catering-salad-caprese.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>  

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Chef</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$45</b></p>
            <img src="/images/buonos-logo-3.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>        
    </div>

    <center class="pasta">
      <a class="anchor" id="pasta"></a>
      <h1 class=""><strong>Pastas</strong></h1>
      <img src="/images/catering-category-pasta.jpg" alt="food-image" class="category-image">
      {{!-- <h2>CALL TO ORDER 480 899-1200</h1> --}}
      <h2>Toasted bread included with each tray</h2>
      <h2>Choice of Spaghetti, Penne, or Fettucini</h2>
      <h3>PORTIONS 1/2 TRAYS FEEDS 10-12 People</h3>
    </center>
    <div class="grid-container"> 
        
      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Marinara</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$30</b></p>

            <p class="mb-1">Add Broccoli <b>$15</b></p>
            <p class="mb-1">Add Chicken <b>$30</b></p>

            <img src="/images/catering-pasta-marinara.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Garlic & Oil</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$30</b></p>

            <p class="mb-1">Add Broccoli <b>$15</b></p>
            <p class="mb-1">Add Chicken <b>$30</b></p>

            <img src="/images/catering-pasta-garlic-oil.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Alfredo</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$60</b></p>

            <p class="mb-1">Add Broccoli <b>$15</b></p>
            <p class="mb-1">Add Chicken <b>$30</b></p>

            <img src="/images/catering-pasta-alfredo.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Pink Vodka</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$60</b></p>

            <p class="mb-1">Add Broccoli <b>$15</b></p>
            <p class="mb-1">Add Chicken <b>$30</b></p>

            <img src="/images/buonos-logo-3.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>
            
    </div>

    <center class="entree">
      <a class="anchor" id="entree"></a>
      <h1 class=""><strong>Entrees</strong></h1>
      <img src="/images/catering-category-entree.jpg" alt="food-image" class="category-image">
      {{!-- <h2>CALL TO ORDER 480 899-1200</h1> --}}
      <h2>Toasted bread included with each tray</h2>
      <h3>PORTIONS 1/2 TRAYS FEEDS 10-12 People</h3>
    </center>
    <div class="grid-container">
        
      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Chicken Parm</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$70</b></p>
            <img src="/images/catering-entree-chicken-parm.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Eggplant Parm</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$65</b></p>
            <img src="/images/catering-entree-eggplant-parm-2.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Sausage Onions Peppers</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$70</b></p>
            <img src="/images/catering-entree-sausage-onion-pepper.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Baked Ziti</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$60</b></p>
            <img src="/images/catering-entree-baked-ziti-2.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Ravioli</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$60</b></p>
            <img src="/images/buonos-logo-3.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Manicotti</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$70</b></p>
            <img src="/images/buonos-logo-3.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Stuffed Shells</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$70</b></p>
            <img src="/images/buonos-logo-3.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Lasagna</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$90</b></p>
            <img src="/images/catering-entree-lasagna.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>
            
    </div>

    <center class="side">
      <a class="anchor" id="side"></a>
      <h1 class=""><strong>Sides</strong></h1>
      <img src="/images/menu-side-meatballs-2.jpg" alt="food-image" class="category-image">
      {{!-- <h2>CALL TO ORDER 480 899-1200</h1> --}}
      {{!-- <h2>Choice of Marinara or Ranch Dressing</h2> --}}
      <h3>PORTIONS 1/2 TRAYS FEEDS 10-12 People</h3>
    </center>
    <div class="grid-container">
        
      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Meatballs</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$45</b></p>
            <img src="/images/buonos-logo-3.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Sausage</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$45</b></p>
            <img src="/images/buonos-logo-3.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      
            
    </div>

    <center class="dessert">
      <a class="anchor" id="dessert"></a>
      <h1 class=""><strong>Desserts</strong></h1>
      <img src="/images/catering-category-dessert-2.jpg" alt="food-image" class="category-image">
      {{!-- <h2>Choice of Marinara or Ranch Dressing</h2> --}}
      <h3>PORTIONS 1/2 TRAYS FEEDS 10-12 People</h3>
    </center>
    <div class="grid-container">
        
      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Zeppolis</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$50</b></p>
            <img src="/images/catering-dessert-zeppolis.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">12 Slices Limoncello</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$60</b></p>
            <img src="/images/buonos-logo-3.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">12 Slices Tiramisu</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$60</b></p>
            <img src="/images/catering-dessert-tiramisu-cake.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">12 Slices Cheese Cake</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$70</b></p>
            <img src="/images/catering-dessert-cheese-cake.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>

      <div class="grid-item">
        <a class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">20 Large Cannolis</h5> 
          </div>

          <div class="subitem">
            <p class="mb-1">Starting price is <b>$80</b></p>
            <img src="/images/catering-dessert-cannoli.jpg" alt="food-image" class="category-image">  
          </div> 
        </a>
      </div>
            
    </div>

  </div>

</div>

<center>
  <h2>CALL TO ORDER 480 899-1200</h1>
  <h2>PORTIONS 1/2 TRAYS FEEDS 10-12 People</h1>
  <p>Prices do not include tax. Menu & Pricing are subject to change. Plates & Plasticware are available at an additional cost. Deposit of 20% due at time of ordering. Order requirements minimum of 72 hours. Cancellations 24 hours prior for deposit refund</p>
  {{!-- <p>COPYRIGHT © 2021 BUONO'S GILBERT - ALL RIGHTS RESERVED</p>
  <p>SORRY NO CHECKS. GROUPS OF 8 OR MORE 15% GRATUITY. ALL PRICES SUBJECT TO CHANGE WITHOUT NOTICE</p> --}}
</center>

<div class="social-footer">
  {{#each information as |i|}}
    <h5>{{i.description}}</h5>
  {{/each}}

  {{#each information as |i|}}
    <h4>{{i.company}}</h4>
  {{/each}}

  <a href="https://www.google.com/maps/dir//1464+E+Williams+Field+Rd,+Gilbert,+AZ+85295/@33.3074096,-111.8409328,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x872bac74ffc357e1:0xed805996e92f4bc4!2m2!1d-111.7585316!2d33.3074368?entry=ttu">
    {{#each information as |i|}}
      <h4 style="text-decoration:none; color:black;">{{i.address}}</h4>
    {{/each}}
  </a>

  <a href="tel:+14808991200">
    {{#each information as |i|}}
      <h4 style="text-decoration:none; color:black;">{{i.phoneNumber}}</h4>
    {{/each}}
  </a>

  <a href="mailto: buonosgilbert@yahoo.com">
    {{#each information as |i|}}
      <h4 style="text-decoration:none; color:black;">{{i.email}}</h4> 
    {{/each}}
  </a>

  <div class="row">
    <div class="column">
      <a href="https://www.facebook.com/people/Buonos-PIZZA-Gilbert/100067421335508/?mibextid=ZbWKwL" class="button-social">
        <i class="fa-brands fa-square-facebook" style="text-decoration:none; color:black; font-size:30px;"></i>
      </a>
    </div>

    <div class="column">
      <a href="https://www.instagram.com/buonospizzagilbert/?hl=en"  class="button-social">
        <i class="fa-brands fa-instagram" style="text-decoration:none; color:black; font-size:30px;"></i>
      </a>
    </div>

    <div class="column">
      <a href="https://www.yelp.com/biz/buono-s-pizza-gilbert"  class="button-social">
        <i class="fa-brands fa-yelp" style="text-decoration:none; color:black; font-size:30px;"></i>
      </a>
    </div>

    <div class="column">
      <a href="https://www.google.com/maps/dir//1464+E+Williams+Field+Rd,+Gilbert,+AZ+85295/@33.3074096,-111.8409328,12z/data=!4m6!4m5!1m0!1m2!1m1!1s0x872bac74ffc357e1:0xed805996e92f4bc4!3e0"  class="button-social">
        <i class="fa-brands fa-google" style="text-decoration:none; color:black; font-size:30px;"></i>
      </a>
    </div>
  </div>

  <p>
    COPYRIGHT &copy; 2024 BUONO'S GILBERT - ALL RIGHTS RESERVED. SORRY NO CHECKS. GROUPS OF 8 OR MORE 15% GRATUITY Will BE INCLUDED. ALL PRICES SUBJECT TO CHANGE WITHOUT NOTICE.
  </p> 

  <h5>🤓Powered by: SmileyFaceStudios()🤓</h5>
</div>

{{!-- <script src="/js/menu.js"></script> --}}
<script src="/js/menuScrollbar2.js"></script>