<head>
  <link rel="stylesheet" href="/css/style-page.css">
  <link rel="stylesheet" href="/css/location.css">
  <link rel="stylesheet" href="/css/social.css">
</head>

<div class="page-container">

  <br>
  <div class="heading buonos-font">
    <center>
      {{#each location as |i|}}
        <h1>{{i.name}}</h1>
      {{/each}}
    </center>
  </div>

  <section label="google-maps">
    {{#each location as |l|}}
      {{#if l.nameSwitch}}
        {{!-- <div class="container-location-header">
          <center>
            <h1>{{l.name1}}</h1>
          </center>
        </div> --}}
        <div class="container-location">
          <div id="googleMap" style="width:100%;height:400px;"></div>
          {{!-- <a href="https://www.google.com/maps/dir//1464+E+Williams+Field+Rd,+Gilbert,+AZ+85295/@33.3074096,-111.8409328,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x872bac74ffc357e1:0xed805996e92f4bc4!2m2!1d-111.7585316!2d33.3074368?entry=ttu" style="text-decoration:none;
          ">
            <img src="/images/map1.jpg" alt="" style="width:100%;">
          </a> --}}
        </div>
        
      {{/if}}
    {{/each}}
  </section>

  <div class="heading buonos-font">
    <center>
      <h2>Navigate to us with the link below</h2>
      <a href="https://www.google.com/maps/place/1652+N+Higley+Rd+%23103,+Gilbert,+AZ+85234/@33.3803097,-111.7242338,16z/data=!3m1!4b1!4m6!3m5!1s0x872baefd5fe6e3dd:0x345013c2282d9d4c!8m2!3d33.3803097!4d-111.7242338!16s%2Fg%2F11rg2qqxjs?entry=ttu">
    {{#each information as |i|}}
      <h4 style="text-decoration:none; color:black;">{{i.address}}</h4>
    {{/each}}
  </a>
    </center>
  </div>

  <div class="social-footer">
  {{#each information as |i|}}
    <h5>{{i.description}}</h5>
  {{/each}}

  {{#each information as |i|}}
    <h4>{{i.company}}</h4>
  {{/each}}

  <a href="https://www.google.com/maps/place/1652+N+Higley+Rd+%23103,+Gilbert,+AZ+85234/@33.3803097,-111.7242338,16z/data=!3m1!4b1!4m6!3m5!1s0x872baefd5fe6e3dd:0x345013c2282d9d4c!8m2!3d33.3803097!4d-111.7242338!16s%2Fg%2F11rg2qqxjs?entry=ttu">
    {{#each information as |i|}}
      <h4 style="text-decoration:none; color:black;">{{i.address}}</h4>
    {{/each}}
  </a>

  <a href="tel:+14808991200">
    {{#each information as |i|}}
      <h4 style="text-decoration:none; color:black;">{{i.phoneNumber}}</h4>
    {{/each}}
  </a>

  <a href="mailto: buonosgilbert@yahoo.com">
    {{#each information as |i|}}
      <h4 style="text-decoration:none; color:black;">{{i.email}}</h4> 
    {{/each}}
  </a>

  <div class="row">
    <div class="column">
      <a href="https://www.facebook.com/people/Buonos-PIZZA-Gilbert/100067421335508/?mibextid=ZbWKwL" class="button-social">
        <i class="fa-brands fa-square-facebook" style="text-decoration:none; color:black; font-size:30px;"></i>
      </a>
    </div>

    <div class="column">
      <a href="https://www.instagram.com/buonospizzagilbert/?hl=en"  class="button-social">
        <i class="fa-brands fa-instagram" style="text-decoration:none; color:black; font-size:30px;"></i>
      </a>
    </div>

    <div class="column">
      <a href="https://www.yelp.com/biz/buono-s-pizza-gilbert"  class="button-social">
        <i class="fa-brands fa-yelp" style="text-decoration:none; color:black; font-size:30px;"></i>
      </a>
    </div>

    <div class="column">
      <a href="https://www.google.com/maps/dir//1464+E+Williams+Field+Rd,+Gilbert,+AZ+85295/@33.3074096,-111.8409328,12z/data=!4m6!4m5!1m0!1m2!1m1!1s0x872bac74ffc357e1:0xed805996e92f4bc4!3e0"  class="button-social">
        <i class="fa-brands fa-google" style="text-decoration:none; color:black; font-size:30px;"></i>
      </a>
    </div>
  </div>

  <p>
    COPYRIGHT &copy; 2024 BUONO'S GILBERT - ALL RIGHTS RESERVED. SORRY NO CHECKS. GROUPS OF 8 OR MORE 15% GRATUITY Will BE INCLUDED. ALL PRICES SUBJECT TO CHANGE WITHOUT NOTICE.
  </p> 

  <h5>🤓Powered by: SmileyFaceStudios()🤓</h5>
  </div>

</div>

<script>
  function myMap() {
    var mapProp= {
      center: new google.maps.LatLng(33.3803097 ,-111.7242338),
      //zoom: 22,
      zoom: 19,
      //mapTypeId: settings.mapTypeId||google.maps.MapTypeId.SATELLITE
      //mapTypeId: 'satellite',
    };

    var map = new google.maps.Map(document.getElementById("googleMap"),   mapProp);
  }
</script>

<script 
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAu0jYubSfxYv4YY6qS07FaDdR1mBRpoZ0&callback=myMap">
<script>