<head>
  <link rel="stylesheet" href="/css/delivery.css">
  <link rel="stylesheet" href="/css/social.css">
  <link rel="stylesheet" href="/css/style-page.css">
</head>

<br>

<div class="sub-section buonos-font">
  <section label="delivery">
    {{#each homePage as |hp|}}
      {{#if hp.name5_1Switch}}
        <h2>{{hp.name5_1}}</h2>
        <h4>{{hp.description5_1}}</h4>
        <h5>{{hp.name5_2}}</h5>

        {{#if hp.slice_switch}}
          <a href={{hp.slice_link}}>
          <img src={{hp.slice_img}} class="btn-delivery-main"></img>
          </a>
        {{/if}}

        <ul class="nav flex-row delivery">
          {{#if hp.doordash_switch}}
            <a href={{hp.doordash_link}}>
              <img src={{hp.doordash_img}} class="btn-delivery"></img>
            </a>
          {{/if}}

          {{#if hp.ubereats_switch}}
            <a href={{hp.ubereats_link}}>
              <img src={{hp.ubereats_img}} class="btn-delivery"></img>
            </a>
          {{/if}}

          {{#if hp.grubhub_switch}}
            <a href={{hp.grubhub_link}}>
              <img src={{hp.grubhub_img}} class="btn-delivery"></img>
            </a>
          {{/if}}
        </ul>
      {{/if}}

      {{#if name5_2Switch}}
        <h4>{{description5_2}}</h4>
      {{/if}}

      {{#if name5_3Switch}}
        <h5>{{description5_3}}</h5>
      {{/if}}

      {{#if hp.name5_4Switch}}
        <p>{{hp.description5_4}}</p> 
      {{/if}}

      {{#if hp.name5_5Switch}}
        <p>{{hp.description5_5}}</p>
      {{/if}}
    {{/each}}
  </section>
</div>