<head>
  <link rel="stylesheet" href="/css/updateInformation.css">
</head>

<div class="information-background">
  <div class="container-information-header">
    <center>
      <h1>Update {{x.name}}</h1>
      <h4>For admin only</h4>
    </center>
  </div>

  <div class="container-update-item">
    <div class="container-fluid item">
      <form class="" id="updateHomePage">
        <div class="container py-3">
          <h2 class="py-3">Update ({{x.name}})</h2>

          <div class="forms">
            <label 
              for="name" 
              class="form-label"
            >
              <b>Name</b>  
            </label>
            <input 
              id="name" 
              type="text" 
              class="form-control" 
              value="{{x.name}}" 
              placeholder="{{x.name}}" 
              required
            >
            <br><br>
            <label 
              for="name1" 
              class="form-label"
            >
              <b>Name 1</b>  
            </label>
            <input 
              id="name1" 
              type="text" 
              class="form-control" 
              value="{{x.name1}}" 
              placeholder="{{x.name1}}" required
            >
            <label 
              for="description1" 
              class="form-label"
            >
              <b>Description 1</b>
            </label>
            <input 
              id="description1" 
              type="text" 
              class="form-control" 
              value="{{x.description1}}" 
              placeholder="{{x.description}}" required
            >
            <label 
              for="name1Switch" 
              class="form-label"
            >
              <b>Name 1 Switch</b>
            </label>
            <input 
              id="name1Switch" 
              type="text" 
              class="form-control" 
              value="{{x.name1Switch}}" 
              placeholder="{{x.name1Switch}}" required
            >
            <br><br>
            <label 
              for="name2"
              class="form-label"
            >
              <b>Name 2</b>
            </label>
            <input 
              id="name2"
              type="text"
              class="form-control"
              value="{{x.name2}}"
              placeholder="{{x.nanme2}}" required
            >
            <label 
              for="description2"
              class="form-label"
            >
              <b>Description 2</b>
            </label>
            <input 
              id="description2"
              type="text"
              class="form-control"
              value="{{x.description2}}"
              placeholder="{{x.description2}}" required
            >
            <label 
              for="name2Switch"
              class="form-label"
            >
              <b>Name 2 Switch</b>
            </label>
            <input 
              id="name2Switch"
              type="text"
              class="form-control"
              value="{{x.name2Switch}}"
              placeholder="{{x.name2Switch}}" required
            >
            <br><br>
            <label 
              for="name3_1"
              class="form-label"
            >
              <b>Name 3_1</b>
            </label>
            <input 
              id="name3_1"
              type="text"
              class="form-control"
              value="{{x.name3_1}}"
              placeholder="{{x.name3_1}}" required
            >
            <label 
              for="desription3_1"
              class="form-label"
            >
              <b>Description 3_1</b> 
            </label>
            <input 
              id="description3_1"
              type="text"
              class="form-control"
              value="{{x.description3_1}}"
              placeholder="{{x.description3_1}}" required
            >
            <label 
              for="name3_1Switch"
              class="form-label"
            >
              <b>Name 3_1 Switch</b>
            </label>
            <input 
              id="name3_1Switch"
              type="text"
              class="form-control"
              value="{{x.name3_1Switch}}"
              placeholder="{{x.name3_1Switch}}" required
            >
            <br>
            <label 
              for="desription3_2"
              class="form-label"
            >
              <b>Description 3_2</b> 
            </label>
            <input 
              id="description3_2"
              type="text"
              class="form-control"
              value="{{x.description3_2}}"
              placeholder="{{x.description3_2}}" required
            >
            <label 
              for="name3_2Switch"
              class="form-label"
            >
              <b>Name 3_2 Switch</b>
            </label>
            <input 
              id="name3_2Switch"
              type="text"
              class="form-control"
              value="{{x.name3_2Switch}}"
              placeholder="{{x.name3_2Switch}}" required
            >
            <br><br>
            <label 
              for="name4"
              class="form-label"
            >
              <b>Name 4</b>
            </label>
            <input 
              id="name4"
              type="text"
              class="form-control"
              value="{{x.name4}}"
              placeholder="{{x.name4}}" required
            >
            <label 
              for="desription4"
              class="form-label"
            >
              <b>Description 4</b> 
            </label>
            <input 
              id="description4"
              type="text"
              class="form-control"
              value="{{x.description4}}"
              placeholder="{{x.description4}}" required
            >
            <label 
              for="name4Switch"
              class="form-label"
            >
              <b>Name 4 Switch</b>
            </label>
            <input 
              id="name4Switch"
              type="text"
              class="form-control"
              value="{{x.name4Switch}}"
              placeholder="{{x.name4Switch}}" required
            >
            <br><br>
            <label 
              for="name5_1"
              class="form-label"
            >
              <b>Name 5_1</b>
            </label>
            <input 
              id="name5_1"
              type="text"
              class="form-control"
              value="{{x.name5_1}}"
              placeholder="{{x.name5_1}}" required
            >
            <label 
              for="desription5_1"
              class="form-label"
            >
              <b>Description 5_1</b> 
            </label>
            <input 
              id="description5_1"
              type="text"
              class="form-control"
              value="{{x.description5_1}}"
              placeholder="{{x.description5_1}}" required
            >
            <label 
              for="name5_1Switch"
              class="form-label"
            >
              <b>Name 5_1 Switch</b>
            </label>
            <input 
              id="name5_1Switch"
              type="text"
              class="form-control"
              value="{{x.name5_1Switch}}"
              placeholder="{{x.name5_1Switch}}" required
            >
            <br>
            <label 
              for="slice_switch"
              class="form-label"
            >
              <b>Slice Switch</b>
            </label>
            <input 
              id="slice_switch"
              type="text"
              class="form-control"
              value="{{x.slice_switch}}"
              placeholder="{{x.slice_switch}}" required
            >
            <label 
              for="doordash_switch"
              class="form-label"
            >
              <b>Door Dash Switch</b>
            </label>
            <input 
              id="doordash_switch"
              type="text"
              class="form-control"
              value="{{x.doordash_switch}}"
              placeholder="{{x.doordash_switch}}" required
            >
            <label 
              for="ubereats_switch"
              class="form-label"
            >
              <b>Uber Eats Switch</b>
            </label>
            <input 
              id="ubereats_switch"
              type="text"
              class="form-control"
              value="{{x.ubereats_switch}}"
              placeholder="{{x.ubereats_switch}}" required
            >
            <label 
              for="grubhub_switch"
              class="form-label"
            >
              <b>Grub Hub Switch</b>
            </label>
            <input 
              id="grubhub_switch"
              type="text"
              class="form-control"
              value="{{x.grubhub_switch}}"
              placeholder="{{x.grubhub_switch}}" required
            >
            <br>
            <label 
              for="desription5_2"
              class="form-label"
            >
              <b>Description 5_2</b> 
            </label>
            <input 
              id="description5_2"
              type="text"
              class="form-control"
              value="{{x.description5_2}}"
              placeholder="{{x.description5_2}}" required
            >
            <label 
              for="name5_2Switch"
              class="form-label"
            >
              <b>Name 5_2 Switch</b>
            </label>
            <input 
              id="name5_2Switch"
              type="text"
              class="form-control"
              value="{{x.name5_2Switch}}"
              placeholder="{{x.name5_2Switch}}" required
            >
            <br>
            <label 
              for="description5_3"
              class="form-label"
            >
              <b>Description 5_3</b> 
            </label>
            <input 
              id="description5_3"
              type="text"
              class="form-control"
              value="{{x.description5_3}}"
              placeholder="{{x.description5_3}}" required
            >
            <label 
              for="name5_3Switch"
              class="form-label"
            >
              <b>Name 5_3 Switch</b>
            </label>
            <input 
              id="name5_3Switch"
              type="text"
              class="form-control"
              value="{{x.name5_3Switch}}"
              placeholder="{{x.name5_3Switch}}" required
            >
            <br>
            <label 
              for="desription5_4"
              class="form-label"
            >
              <b>Description 5_4</b> 
            </label>
            <input 
              id="description5_4"
              type="text"
              class="form-control"
              value="{{x.description5_4}}"
              placeholder="{{x.description5_4}}" required
            >
            <label 
              for="name5_4Switch"
              class="form-label"
            >
              <b>Name 5_4 Switch</b>
            </label>
            <input 
              id="name5_4Switch"
              type="text"
              class="form-control"
              value="{{x.name5_4Switch}}"
              placeholder="{{x.name5_4Switch}}" required
            >
            <br>
            <label 
              for="desription5_5"
              class="form-label"
            >
              <b>Description 5_5</b> 
            </label>
            <input 
              id="description5_5"
              type="text"
              class="form-control"
              value="{{x.description5_5}}"
              placeholder="{{x.description5_5}}" required
            >
            <label 
              for="name5_5Switch"
              class="form-label"
            >
              <b>Name 5_5 Switch</b>
            </label>
            <input 
              id="name5_5Switch"
              type="text"
              class="form-control"
              value="{{x.name5_5Switch}}"
              placeholder="{{x.name5_5Switch}}" required
            >
          </div>

          <div class="d-flex justify-content-evenly">
            <input
              type="hidden" name="home-id" value="{{x.id}}"
            />
            <button 
              type="submit" class="btn btn-primary">Update
            </button>
            <div>
              <a href="/" id="cancelButton" class="btn btn-warning">
                Cancel
              </a>
            </div>
            <button 
              class="btn btn-danger" id="deleteButton" data-id="{{item.id}}">Delete
            </button>
          </div>
        </div>
      </form> 
    </div>
  </div>
</div>

<script src="/js/updateHomePage.js"></script>