<head>
  <link rel="stylesheet" href="/css/updateInformation.css">
</head>

<div class="information-background">
	<div class="container-information-header">
    <center>
      <h1>Update Topping Pizza</h1>
      <h4>For admin only</h4>
    </center>
  </div>

	<div class="container-update-item">
		<div class="container-fluid item">
			<form id="updateToppingPizza">
				<div class="container py-3">
					<h2>Update ({{tp.name}}) pizza topping</h2>
					<div class="forms">
						<label 
							for="menu-item-name" 
							class="form-label"
						>
							<b>ID</b>
						</label>
						<input 
							id="id" 
							type="text" 
							class="form-control" 
							value="{{tp.id}}" 
							placeholder="{{tp.id}}"
						>

						<label 
							for="menu-item-name" 
							class="form-label"
						>
							<b>Name</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input 
							id="name" 
							type="text" 
							class="form-control" 
							value="{{tp.name}}" 
							placeholder="{{tp.name}}"
							required
						>
						<label 
							for="menu-item-description" 
							class="form-label"
						>
							<b>Price Full</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input 
							id="priceFull" 
							type="text" 
							class="form-control" 
							value="{{tp.priceFull}}" 
							placeholder="{{tp.priceFull}}"
							require
						>
						<label 
							for="menu-item-description" 
							class="form-label"
						>
							<b>Price Half</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input 
							id="priceHalf" 
							type="text" 
							class="form-control" 
							value="{{tp.priceHalf}}" 
							placeholder="{{tp.priceHalf}}"
							require
						>
						<label 
							for="menu-item-description" 
							class="form-label"
						>
							<b>Price Slice</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input 
							id="priceSlice" 
							type="text" 
							class="form-control" 
							value="{{tp.priceSlice}}" 
							placeholder="{{tp.priceSlice}}"
							require
						>
						<label 
							for="menu-item-description" 
							class="form-label"
						>
							<b>Price Gluten Free</b>
							<b style="color:#FF0000";>*required</b>
						</label>
						<input 
							id="priceGlutenFree" 
							type="text" 
							class="form-control" 
							value="{{tp.priceGlutenFree}}" 
							placeholder="{{tp.priceGlutenFree}}"
							require
						>
						<input 
							type="hidden" 
							name="toppingPizza-id" 
							value="{{tp.id}}"
						/>
						<br><br>
					</div>	
					<div class="d-flex justify-content-evenly">
            <button 
							type="submit" 
							class="btn btn-primary"
						>
							Update
						</button>
            <button 
              class="btn btn-warning view-menu-button" onclick="history.back()"
            >
              Cancel
            </button>
            <button 
							class="btn btn-danger"
							id="deleteButton" 
							data-id="{{tp.id}}"
						>
							Delete
						</button>
				</div>
			</form>
		</div>
	</div>	
</div>

<br><br><br><br><br><br><br>

<script src="/js/updateToppingsPizza.js"></script>